<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="RUTA_ARCHIVOS" value="C:\Users\hgi\source\repos\PruebaGalacJF\LeerArchivo\"/>
      <add key="NOMBRE_ARCHIVO_ENTRADA" value="Leer.txt"/>
      <add key="NOMBRE_ARCHIVO_SALIDA" value="PalabrasConS.txt"/>
    </appSettings>
    
    <connectionStrings>
      <add name="CONECCION_BASE_DATOS" connectionString="Data Source=DESKTOP-HGI\SQLEXPRESS;Initial Catalog=PruebaGalac;Integrated Security=true"/>
  </connectionStrings>  
  
   <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>